<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinProject">

        <!-- 1. MAIN ENTRY POINT -->
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.KotlinProject">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. AUTHENTICATION -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login" />

        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="@string/title_activity_register" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true"
            android:label="@string/title_activity_forgot_password" />

        <!-- 3. DASHBOARDS -->
        <activity
            android:name=".PatientDashboard"
            android:exported="true"
            android:label="Patient Dashboard" />

        <activity
            android:name=".StaffDashboard"
            android:exported="true"
            android:label="Staff Dashboard" />

        <activity
            android:name=".PharmacistDashboard"
            android:exported="true"
            android:label="Pharmacist Dashboard" />

        <activity
            android:name=".AdminDashboard"
            android:exported="true"
            android:label="Admin Dashboard" />

        <!-- 4. PATIENT FEATURES -->
        <activity android:name=".BookAppointmentActivity" android:exported="true" />
        <activity android:name=".SelectDateTimeActivity" android:exported="true" />
        <activity android:name=".AppointmentDetailsActivity" android:exported="true" />
        <activity android:name=".MyAppointmentsActivity" android:exported="true" />
        <activity android:name=".MedicalHistoryActivity" android:exported="true" />
        <activity android:name=".DoctorAvailabilityActivity" android:exported="true" />
        <activity android:name=".ProfileActivity" android:exported="true" />

        <!-- 5. STAFF/ADMIN FEATURES -->
        <activity android:name=".DoctorScheduleActivity" android:exported="true" />
        <activity android:name=".PatientRecordsActivity" android:exported="true" />
        <activity android:name=".ManagePatientsActivity" android:exported="true" />
        <activity android:name=".ManageStaffsActivity" android:exported="true" />
        <activity android:name=".PatientQueueActivity" android:exported="true" />

        <!-- 6. PHARMACY & BILLING -->
        <activity android:name=".AddMedicineActivity" android:exported="true" />
        <activity android:name=".SearchMedicineActivity" android:exported="true" />
        <activity android:name=".BillingActivity" android:exported="true" />
        <activity android:name=".PharmacistScheduleActivity" android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />

    </application>
</manifest>