<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinProject">

        <!-- Patient Dashboard - Main Launcher -->
        <activity
            android:name=".PatientDashboard"
            android:exported="true"
            android:label="Patient Dashboard"
            android:theme="@style/Theme.KotlinProject">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Patient Portal Activities -->
        <activity
            android:name=".BookAppointmentActivity"
            android:exported="true"
            android:label="Book Appointment"
            android:theme="@style/Theme.KotlinProject" />

        <activity
            android:name=".SelectDateTimeActivity"
            android:exported="true"
            android:label="Select Date and Time"
            android:theme="@style/Theme.KotlinProject" />

        <activity
            android:name=".AppointmentDetailsActivity"
            android:exported="true"
            android:label="Appointment Details"
            android:theme="@style/Theme.KotlinProject" />

        <activity
            android:name=".MyAppointmentsActivity"
            android:exported="true"
            android:label="My Appointments"
            android:theme="@style/Theme.KotlinProject" />

        <activity
            android:name=".MedicalHistoryActivity"
            android:exported="true"
            android:label="Medical History"
            android:theme="@style/Theme.KotlinProject" />

        <activity
            android:name=".DoctorAvailabilityActivity"
            android:exported="true"
            android:label="Doctor Availability"
            android:theme="@style/Theme.KotlinProject" />

        <!-- Staff Dashboard Activities -->
        <activity
            android:name=".StaffDashboard"
            android:exported="true"
            android:label="Staff Dashboard"
            android:theme="@style/Theme.KotlinProject" />

        <activity
            android:name=".DoctorScheduleActivity"
            android:exported="true"
            android:label="Doctor Schedule"
            android:theme="@style/Theme.KotlinProject" />

        <activity
            android:name=".PatientRecordsActivity"
            android:exported="true"
            android:label="Patient Records"
            android:theme="@style/Theme.KotlinProject" />

        <activity
            android:name=".ManagePatientsActivity"
            android:exported="true" />

        <activity
            android:name=".PatientQueueActivity"
            android:exported="true"
            android:label="Patient Queue"
            android:theme="@style/Theme.KotlinProject" />

        <activity android:name=".AddMedicineActivity" android:exported="true" />
        <activity android:name=".SearchMedicineActivity" android:exported="true" />
        <activity android:name=".BillingActivity" android:exported="true" />

        <!-- Other Dashboards -->
        <activity
            android:name=".PharmacistDashboard"
            android:exported="true"
            android:label="Pharmacist Dashboard"
            android:theme="@style/Theme.KotlinProject" />

        <activity
            android:name=".AdminDashboard"
            android:exported="true"
            android:label="Admin Dashboard"
            android:theme="@style/Theme.KotlinProject" />

        <!-- Existing Activities -->
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/Theme.KotlinProject" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/Theme.KotlinProject" />

        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.KotlinProject" />

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.KotlinProject" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KotlinProject" />

        <activity
            android:name=".PatientDashboardActivity"
            android:exported="true"
            />

    </application>

</manifest>